<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/imagemTeste.png"> 
    </head>
<body>
{{>header}}
<p>{{pageNotFound}}</p>
<footer>{{>footer}}</footer>
</body>
</html>